<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cqipc.books.dao.Tb_BooksDao">
    <insert id="addBooks">
        insert into tb_books values (null, #{ISBN}, #{book_name}, #{book_price}, #{book_author}, #{published_house},
                                     #{bookCategory.id})
    </insert>
    <update id="modifyBooks">
        update tb_books set ISBN=#{ISBN},
            book_name=#{book_name},
            book_price=#{book_price},
            book_author=#{book_author},
            published_house=#{published_house},
            book_category=#{bookCategory.id}
            where id = #{id}
    </update>
    <delete id="removeBooks">
        delete
        from tb_books
        where id = #{id}
    </delete>
    <select id="findBooksById" resultType="Tb_Books">
        select b.*,
               tb.id           as "bookCategory.id",
               tb.type         as "bookCategory.type",
               tb.type_max_num as "bookCategory.type_max_num"
        from tb_books b,
             tb_books_type tb
        where tb.id = b.book_category
          and b.id = #{id}
    </select>
    <select id="findAllBooksPage" resultType="Tb_Books">
        select b.*,
               tb.id           as "bookCategory.id",
               tb.type         as "bookCategory.type",
               tb.type_max_num as "bookCategory.type_max_num"
        from tb_books b,
             tb_books_type tb
        where tb.id = b.book_category order by b.id desc
        limit #{pageCount},#{pageSize}
    </select>
    <select id="selectBooksCount" resultType="int">
        select count(*)
        from tb_books
    </select>
    <select id="selectBooksAll" resultType="Tb_Books">
        select b.*,
               tb.id           as "bookCategory.id",
               tb.type         as "bookCategory.type",
               tb.type_max_num as "bookCategory.type_max_num"
        from tb_books b,
             tb_books_type tb
        where tb.id = b.book_category
    </select>
</mapper>